@charset "UTF-8";

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*,:before,:after {box-sizing: border-box;}

/* 브라우저 기본크기 16px -> 10px */
html{font-size: 62.5%;}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor: pointer;}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top;}

/* 모바일, 반응형에서 이미지의 원본크기보다 커지지않게함 */
img {max-width: 100%;}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a { text-decoration: none; color: #222; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
/* h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%} */
h1,h2,h3,h4,h5,h6 {font-weight: 300; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

/* 폼요소 포커스시 아웃라인 안보이게 */
/* input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
} */
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none }





/*********************** 공통스타일 *************************/
/* body에 높이가 없어도 hidden이 걸리면 스크롤바가 사라짐 */
/* iOS 사파리는 페이지최상단에서만 hidden이 걸리므로 페이지 위로 올라오게함 */
body.on {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

body,input,button,select,textarea,table {
    font-family: 'Noto Sans KR','Lato', sans-serif;    
    font-size: 1.6rem;
    color:#222;
}

/* Skip Navgation */
#skip_navi {position: relative;}
#skip_navi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 10px 0; background: #fff; z-index: 99999; text-align: center }
#skip_navi a:hover, #skip_navi a:active, #skip_navi a:focus {top:0}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; border:5px solid red; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px }

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder */
::-webkit-input-placeholder {color:#bbbbbb;} /* Webkit,크롬,사파리 */
:-moz-placeholder {color:#bbbbbb;} /* Firefox 4-18 */
::-moz-placeholder {color:#bbbbbb; opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:#bbbbbb !important;} /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background: #ef151e;color: #ffffff; } */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}





/* 체크박스 공통 */
.checkbox_wrap {
    /* border: 2px solid black; */
    display: inline-block;
}
/* input[type=checkbox] {
    -webkit-appearance: checkbox;
} */
input[type=checkbox] + label {
    /* border: 2px solid red; */
    cursor: pointer;
}
input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 2px solid #ddd;
    border-radius: 50%;
    vertical-align: -7px;
    margin-right: 10px;
}
input[type=checkbox]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 50% 50% / 16px;
}




/* radio 공통 */
.radio_wrap {
    display: inline-block;
}

/* input[type=radio] {
    -webkit-appearance: radio;
} */

input[type=radio] + label{
    cursor: pointer;
    position: relative;
}

input[type=radio] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: -5px;
}
input[type=radio]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #009223;
}








/* select 공통 */
.select_wrap {
    display: inline-block;
    border:2px solid #dddddd;
    width:192px;
    position: relative;
}
.select_wrap:before {
    content: '';
    position: absolute;
    right:13px;
    top:50%;
    margin-top: -3px;
    width:12px;
    height: 7px;
    background: url(../images/icon_select_arr.png) no-repeat;
}
.select_wrap select {
    width: 100%;
    border:none;
    height: 41px;
    color:#999;
    text-indent: 9px;
    cursor: pointer;
    position: relative;
    background: none;
}






/* 화살표제거 */
select {
     /* 크롬,사파리 */
    -webkit-appearance: none;
     /* 파폭 */
    -moz-appearance: none;
    appearance: none;
}
/* 익스 화살표 제거 */
select::-ms-expand { display: none; }

/* textarea 공통 */

/* 기존 */
/* textarea {background:#f8f8f8; width:100%; border:none; padding: 15px; outline: none; box-sizing: border-box;}  */

textarea {
    width: 100%;
    border: none;
    background: #f8f8f8;
    padding: 15px;
    box-sizing: border-box;
}


/* 파일선택 공통 */
.file_wrap {
    display: inline-block;
    border: 1px solid #ddd;
    width: 466px;
    box-sizing: border-box;
    position: relative;
}
.file_wrap input[type=text] {
    height: 41px;
    width:100%;
    border: none;
    /* background: yellow; */
    padding: 0 111px 0 13px;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
}
.file_wrap label {
    /* background: black; */
    width: 98px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    cursor: pointer;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -8px;
    width: 2px;
    height: 16px;
    background: #ddd;
}





/* 기존 */
/* .file_wrap {
    width: 466px;
    border: 2px solid #dddddd;
    display: inline-block;
    position: relative;
    padding-right: 98px;
    box-sizing: border-box;
}
.file_wrap input[type="text"] {
    height: 40px !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding:0 13px !important;
    background: none !important;
}
.file_wrap label {
    width: 98px;
    height: 100%;
    position: absolute;
    right:0;
    top:0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: 500;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    left:0;
    top:50%;
    margin-top: -8px;
    width:2px;
    height: 16px;
    background: #e8e8e8;
} */


/* 버튼 공통 */
/* .btn_round {
    display: inline-block;
    padding: 7px 15px;
    text-align: center;
    font-size: 15px;
    background: transparent;
    box-sizing: border-box;
    border:1px solid #7e7e7e;
} */

/* round 버튼 공통 */
.btn_round {
    display: inline-block;
    /* 버튼디자인중 가장큰 높이의 절반입렵(layout.css) */
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
}

/* 테두리 버튼 */
.btn_border {
    border: 2px solid #009223;
    background: #fff;
    box-sizing: border-box;
}

/* 버튼 배경 공통 */
.bg_point01 {
    background: #009223;
    /* 녹색배경일때 글자는 흰색되게 */
    color: #fff;
}


/* 등록하기 버튼 */
.btn_regist:after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left: 5px;
}

/* 기존 */
/* .btn_regist:after { content: ''; display: inline-block; width:21px; height: 16px; background: url(../images/icon_reg.png) no-repeat; margin-left: 5px; } */

/* 다운로드 버튼 공통 */
.btn_download {
    /* border: 1px solid black; */
    padding: 7px 3px;
    display: inline-block;
    /* 줄간격으로 인해 기본높이가 커지므로 줄여줌 */
    line-height: 1;
}
.btn_download:hover {
    border-bottom: 1px solid #000;
}
.btn_download:hover [class^=icon_download] {
    transform: translateY(-1px);
}

[class^=icon_download] {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url(../images/sprite_pc_new.png) no-repeat;
    /* border: 2px solid red; */
}
.icon_download_pdf {
    background-position-x: -125px;
}
.icon_download_mp4 {
    background-position-x: 0px;
}
.icon_download_txt {
    background-position-x: -25px;
}
.icon_download_ppt {
    background-position-x: -50px;
}
.icon_download_doc {
    background-position-x: -75px;
}
.icon_download_xls {
    background-position-x: -100px;
}

/* 필수 별 아이콘 */
.icon_star {
    display: inline-block;
    width: 7px;
    height: 6px;
    background: url(../images/icon_ess.png) no-repeat;
    vertical-align: 3px;
    margin: 0 3px;
}











/* 기존 */
/* .btn_download { display: inline-block; padding: 7px 3px; }
.btn_download:hover {border-bottom: 1px solid #000;}
.btn_download [class^=icon_download] {
    display: inline-block;
    width:20px;
    height: 20px;
    background: url(../images/sprite_pc_new.png) no-repeat;
    text-indent: -9999px;
}
.btn_download .icon_download_pdf { background-position-x: -125px; }
.btn_download .icon_download_ppt { background-position-x: -50px; }
.btn_download .icon_download_xls { background-position-x: -100px; } */

/* 글자색 공통 */
.txt_point01 {color: #0072CE;}

.txt_point02 {color:#962639;}



/* 게시판 테이블 공통 */

.tbl_board_wrap {
    /* 테이블 상단선은 바깥쪽에서 처리, table에 줄경우 캡션버그가 있을수있음 */
    border-top: 1px solid #000;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.tbl_board_wrap table {
    /* 테이블은 데이터의 길이만큼 늘어나는 성질이 있으므로 늘어나지 않게함 */
    table-layout: fixed;
}
.tbl_board_wrap th {
    height: 60px;
    background: #f5f5f5;
    text-align: center;
    font-weight: 400;
    /* text-align: left; */
    /* vertical-align: top; */
}
/* 칸의 가로길이는 %로 처리하는것이 좋음 */
.tbl_board_wrap th.col1 {
    width: 8%;
}
.tbl_board_wrap th.col3 {
    width: 12%;
}


.tbl_board_wrap td {
    height: 60px;
    border-top: 1px solid #eee;
    text-align: center;
    color: #555;
}
.tbl_board_wrap .view_link {
    color: #555;
}
.tbl_board_wrap .view_link:hover {
    text-decoration: underline;
}
.tbl_board_wrap .td_left {
    text-align: left;
}

/* 게시물 크기 링크 */
.tbl_board_wrap .view_link {
    /* border: 2px solid black; */
    white-space: nowrap;
    /* hidden이 되려면 크기가 있어야함 */
    /* 글자가 짧을경우 오른쪽 빈공간이 클릭됨 */
    /* display: block; */
    display: inline-block;
    /* 글자길이만큼의 크기를 가지게함 */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 게시판 페이지네이션 */
.board_pagination_wrap {
    text-align: center;
    margin-top: 20px;
    border: 1px solid red;

}
.board_pagination_wrap .board_pagination {
    /* border: 1px solid black; */
    display: inline-block;
    /* 인라인블럭 하단 간격 없애기 */
    vertical-align: top;
}
.board_pagination_wrap .board_pagination .btn_paging {
    float: left;
    /* border: 1px solid red; */
    width: 22px;
    height: 40px;
    text-indent: -9999px;
    position: relative;
}
.board_pagination_wrap .board_pagination .btn_paging:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    /* border: 1px solid red; */
    background: url(../images/sprite_pc.png) no-repeat;
}
.board_pagination_wrap .board_pagination .first:after {
    background-position: -397px -310px;
}
.board_pagination_wrap .board_pagination .prev:after {
    width: 8px;
    background-position: -369px -182px;
}
.board_pagination_wrap .board_pagination .next:after {
    width: 8px;
    background-position: -30px -431px;
}
.board_pagination_wrap .board_pagination .last:after {
    background-position: -443px -388px;
}



.board_pagination_wrap .board_pagination .prev {
    margin-right: 8px;
}
.board_pagination_wrap .board_pagination .next {
    margin-left: 8px;
}
.board_pagination_wrap .board_pagination .number {
    float: left;
    border: 1px solid #eee;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin: 0 5px;
}
.board_pagination_wrap .board_pagination .number.active {
    background: #a50034;
    color: #fff;
    border-color: #bb0841;
}












/* 요금표 공통 */
/* .tbl_fee_area {margin-top: 50px;}
.tbl_fee_area .txt_top { font-size: 18px; }
.tbl_fee_area .tit_fee {overflow: hidden; margin-top: 30px;}
.tbl_fee_area .tit_fee h3 { float: left; font-size: 30px; font-family: 'Wonchuri',sans-serif; color:#333; position: relative; padding-top: 15px; }
.tbl_fee_area .tit_fee h3:before { content: ''; position: absolute; left:0; top:0; width:80px; height: 3px; background: #000; }
.tbl_fee_area .tit_fee a { float: right; margin-top: 20px; }

.tbl_fee_area .warning { margin-top: 10px; }
.tbl_fee_area .warning i { font-size: 20px; vertical-align: -3px; margin-right: 3px; } */


/* 요금표 테이블 공통 */
.tbl_fee_wrap {
    border-top: 2px solid #333;
}
.tbl_fee_wrap th {
    border: 1px solid #d9d9d9;
    border-top: none;
    font-size: 18px;
    color: #333;
    background: #f7f7f7;
}
.tbl_fee_wrap thead th {
    height: 72px;
}
.tbl_fee_wrap tbody th {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.tbl_fee_wrap td {
    border:  1px solid #d9d9d9;
    border-top: none;
    text-align: center;
    padding: 0 30px;
    height: 58px;
}
.tbl_fee_wrap .td_right {
    text-align: right;
}

.tbl_fee_wrap .col01 {
    width: 21%;
}
.tbl_fee_wrap .col02 {
    width: 15%;
}
.tbl_fee_wrap .col03 {
    width: 16%;
}
.tbl_fee_wrap .col04 {
    width: 16%;
}
.tbl_fee_wrap .col05 {
    width: 16%;
}



/* .tbl_fee_wrap {border-top:2px solid #333; margin-top: 15px;}
.tbl_fee_wrap th { border:1px solid #d9d9d9; border-top:none; }
.tbl_fee_wrap thead th { height: 70px; font-size: 18px; color:#333; background: #f7f7f7; }
.tbl_fee_wrap tbody th { background: #f7f7f7; padding:0 30px; font-size: 16px; }
.tbl_fee_wrap td { border:1px solid #d9d9d9; border-top:none; height: 58px; text-align: center; padding:0 30px; }
.tbl_fee_wrap td.td_right { text-align: right; } */

/* 크롬,엣지 스크롤바 css
스크롤바 전체가로길이
::-webkit-scrollbar { width:10px; background: #eee; }
스크롤바 버튼
::-webkit-scrollbar-thumb { background: #999; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #000; } */



/* write 테이블 공통 */

.board_write_wrap .note {
    text-align: right;
    /* border: 2px solid red; */
    color: #999;
}



.board_write_wrap th {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
    text-align: left;
    font-weight: 500;
}
.board_write_wrap th.th_top {
    vertical-align: top;
}

.board_write_wrap td {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
}
.board_write_wrap .col01 {
    width: 12%;
}
.board_write_wrap .email {
    margin: 0 20px;
}
.board_write_wrap .select_wrap {
    margin-left: 6px;
}
.board_write_wrap .select_wrap2 {
    margin-left: 0;
}

.board_write_wrap .file_note {
    display: inline-block;
    font-size: 13px;
    margin-left: 30px;
    color: #999;
}



/* 입력폼 공통 */
.input_txt {
    width: 100%;
    height: 45px;
    color: #292929;
    text-indent: 15px;
    border: none;
    background: #f8f8f8;
}

.input_txt_small {
    width: 200px;
}

/* 더보기 공통 */
/* .btn_more {
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    line-height: 50px;
    padding: 0 40px;
    display: inline-block;
} */


/* 애니메이션 공통 */
.animate_fade_down {
    transform: translate(0, -100px);
    opacity: 0;
    transition: all 1s;
}
.animate_fade_up {
    transform: translate(0, 100px);
    opacity: 0;
    transition: all 1s;
}
/* .fade_down.on {
    transform: translate(0, 0);
    opacity: 1;
} */
.animate_fade_flip {
    transform: rotateY(90deg);
    transition: all 1s;
    opacity: 0;
}

/* .fade_flip.on {
    transform: rotateX(0);
    transition: all 1s;
    opacity: 1;
} */

[class*=animate_fade].on {
    opacity: 1;
    transform: translate(0,0) rotate(0);
}

/* select custom 공통 */
.select_custom {
    width: 194px;
    display: inline-block;
    position: relative;
    /* 선이 나중에 나오므로 투명선을 미리 만들어둠 */
    border: 1px solid transparent;
    border-bottom: none;
}
.select_custom.on {
    border-color: #ddd;
}
.select_custom.on .btn_select {
    background-position-y: 100%;
}

.select_custom .btn_select {
    display: block;
    line-height: 40px;
    padding: 0 19px;
    color: #666;
    /* 배경기준이 오른쪽일경우 right 옵셋으로 위치조절가능 */
    background: url(../images/ico_select_search.png) no-repeat right 5px top;
}
.select_custom .select_list {
    position: absolute;
    left: -1px;
    top: 40px;
    border: 1px solid #ddd;
    border-top: none;
    width: 100%;
    background: #fff;
    display: none;
}
.select_custom .select_list a {
    display: block;
    padding: 0 19px;
    line-height: 40px;
    color: #666;
}
.select_custom .select_list a:hover {
    background: #eee;
}


#wrap { min-width: 320px;}

/* pc헤더 */
#header { width: 100%; height: 100px; position: absolute; left: 0; top: 0; z-index: 9999; background: transparent; transition: all 0.3s; }
#header .inner { max-width: 1240px; padding: 0 20px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
#header .logo a { display: block; width: 144px; height: 33px; text-indent: -9999px; background: url(../images/hr_logo_off.png) no-repeat; }

/* pc- gnb */
#header .gnb_wrap:after { content: ''; position: absolute; left: 0; top: 100px; height: 0; width: 100%; background: #fff; transition: all 0.3s; }
#header .gnb { display: flex;}
#header .gnb>li { padding: 0 50px; position: relative; }
#header .gnb>li>a { display: block; line-height: 100px; font-size: 1.8rem; font-weight: 700; color: #fff; }
#header .gnb .depth02 { position: absolute; left: 0; top:100px; width: 100%; padding-top: 25px; visibility: hidden; opacity: 0;}
#header .gnb .depth02>li { text-align: center; }
#header .gnb .depth02>li>a { color: #666; }
#header .gnb .depth02 li + li { margin-top: 15px; }

/* pc헤더 on */
#header.on { background: #fff; } 
#header.on::before { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #ddd; } 
#header.on .logo a { background: url(../images/ft_logo2.png) 0 0 / 144px 33px; } #header.on .gnb_wrap::after { height: 400px; } 
#header.on .gnb>li>a { color:#222; position: relative; } 
#header.on .gnb>li>a::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #0072CE; transform: scaleX(0); } 
#header.on .gnb>li:hover>a::after { transform: scaleX(1); transition: all 0.5s; } #header.on .gnb .depth02>li>a:hover { color: #0072CE } 
#header.on .gnb .depth02 { transition: all 0.5s; z-index: 10; opacity: 1; visibility: visible; } 
#header.on .btn_lang { color: #222; border-color: #222; }

/* 헤더 버튼 */
#header .btn_lang { line-height: 30px; padding: 0 15px; border: 1px solid #fff; color: #fff; font-weight: 700; }
#header .btn_open {display: none;}
#header .gnb_area {display: none;}

/* ========== 푸터 =============== */
#footer {
    border-top: 1px solid #d2d2d2;
}

#footer .inner {
    max-width: 1260px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .footer_link_wrap {
    padding-right: 250px;
}

#footer .footer_link {
    display: flex;
}

#footer .footer_link li {
    padding: 0 10px;
    position: relative;
}

#footer .footer_link li + li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1px;
    width: 1px;
    height: 14px;
    background:#666;
}

#footer .footer_link li:first-child {
    padding-left: 0;
}

#footer .footer_link li a {
    color: #666;
}
 
#footer .footer_link_wrap .adress {
    margin-top: 20px;
    color: #999;
}

#footer .footer_link_wrap .copy {
    margin-top: 5px;
    color: #bbb;
}

#footer .family_wrap {
    position: relative;
}


#footer .family_wrap .btn_family {
    border: none;
    background: none;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid #333;
    padding: 12px 10px 12px 0;
    width: 190px;
    text-align: left;
    height: 50px;
}


#footer .btn_family i {
    float: right;
    margin-top: 7px;
    color:#333;
    font-size: 1.2rem;
}

#footer .family_wrap .family {
    position: absolute;
    left: 0;
    bottom: 97px;
    width:100%;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 10;
    display: none;
}

#footer .family_wrap .family li a {
    display: block;
    font-size: 1.5rem;
    color: #666;
    line-height: 30px;
    padding: 10px 10px;
}

#footer .family_wrap .family li:hover a {
    background: #eee;
    color: #0072CE;
}

#footer .top_wrap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
}

#footer .top_wrap .btn_top {
    display: block;
    border-radius: 60px;
    background: #0072CE;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}









/* 타블렛분기점 */
@media (max-width:1200px) {
    #header { height: 60px; } 
    #header .inner { padding: 0 30px; }
    #header .gnb_wrap { display: none } 
    #header .btn_lang { display: none; } 
    #header .btn_open { display: block; line-height:60px; font-size: 3.5rem; color:#fff; margin-left: auto;}
    #header .btn_open i { vertical-align: 2px;}

    /* 모바일, 타블렛헤더 */
    #header .gnb_area { display: block; position: fixed; right: 0; top: 0; width: 100%; height: 100%; background: #fff; z-index: 9999; transform: translateX(100%); transition: all 0.7s; overflow: auto;} 
    #header .gnb_area.on { transform: translateX(0); } 
    #header .gnb_area .gnb_top { display: flex; align-items: center; height: 60px; background: #0072CE; padding: 0 30px; } 
    #header .gnb_area .m_gnb>li { border-bottom: 1px solid #eee; } 
    #header .gnb_area .m_gnb>li>a { padding: 0 30px; line-height: 60px; font-weight: 700; font-size: 1.8rem; position: relative; color: #666; display: flex; align-items: center; justify-content: space-between; } 
    #header .gnb_area .m_gnb>li>a.on { color: #0072CE; } 
    #header .gnb_area .m_gnb>li>a i{ color: #0072CE; } 
    #header .gnb_area .m_gnb .depth02 { background: #f8f8f8; border-top: 1px solid #eee; display: none; } 
    #header .gnb_area .m_gnb .depth02>li { padding: 15px 30px; } 
    #header .gnb_area .m_gnb .depth02>li>a { display: block; } 
    #header .gnb_area .btn_close { position: absolute; right: 30px; top: 6px; font-size: 30px; color: #fff; }

     /* 푸터 */
     #footer .inner {
        display: block;
    }

    #footer .footer_link_wrap { 
        display: inline-block;
        padding-right: 0;
        margin-top: 20px;
    }

    #footer .family_wrap {
        float:right;
    }

    #footer .family_wrap .family {
        bottom: 50px;

    }
}

/* 모바일 분기점 */
@media (max-width:767px) {
    #header .inner { padding: 0 20px; }
    #header .gnb_area .gnb_top {
        padding: 0 20px;
    }

    #header .gnb_area .btn_close {
        right: 20px;
    }

    #header .gnb_area .m_gnb>li>a {
        padding: 0 20px;
    }
    
    #header .gnb_area .m_gnb .depth02>li {
        padding: 15px 20px;
    }

    /* 푸터 */

    #footer .inner {
        display: flex;
        justify-content: center;
        padding: 40px 20px;
    }
    
    #footer .footer_link_wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #footer .footer_link {
        width: 100%;
        justify-content: center;
    }
 

    #footer .footer_link li + li:before {
        height: 12px;
        margin-top: 2px;
    }

    #footer .footer_link li a {
        font-size: 1.3rem;
    }

    #footer .footer_link_wrap .adress {
        font-size: 1.3rem;
        text-align: center;
        width: 100%;
    }

    #footer .footer_link_wrap .copy {
        font-size: 1.3rem;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    #footer .family_wrap .btn_family {
        font-size: 1.5rem;
    }

    #footer .family_wrap .family li a {
        font-size: 1.3rem;
        line-height: 20px;
    }

    #footer .top_wrap {
        width: 50px;
    }

    #footer .top_wrap .btn_top {
        line-height: 50px;
    }

}
 

